<script src='https://www.google.com/recaptcha/api.js'></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" scroll-directive="" id="mainNav" ng-class="{'navbar-shrink':boolChangeClass}">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/images/KW_ACU_BLUE_LOGO.png" alt="logo" style="width:40px;">KW Acupuncture</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#hours">Clinic</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" ui-sref-active="active">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" ui-sref="reviews">Reviews</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="home" class="bg-primary mb-0" style="margin-top:4rem;">
    <div class="container d-flex h-100 align-items-center">
        <div class="jumbotron" style="margin-top:30px;">
            <h2 class="display-5"><img src="/images/KW_ACU_BLUE_LOGO.png" alt="logo">Welcome to Kitchener Waterloo Acupuncture</h2>
            <p class="lead">R. Ac Zhihong Wang, Ph.D. of Acupuncture in China.</p>
            <hr class="my-4">
            <p>Want to quit smoking, alcohol, and drugs? Lose weight? Do you have irritable bowel syndrome? Do you suffer from menopause? Irregular period? Numbness in your hands and/or feet?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#contact" target="_self" role="button">Book an appointment</a>
            </p>
        </div>
    </div>
</header>

<section id="hours" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7" style="margin-top:30px;margin-bottom:30px">
                <img class="img-fluid mb-3 mb-lg-0" src="/images/clinic.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <div>
                        <h2>Contact Information</h2>
                        <p>Phone: RAc. Wang at (519) 722-8377</p>
                        <p>Unit C19-619 Wild Ginger Ave. N2V 2X1, Waterloo, ON</p>
                    </div>
                    <div>
                        <h2>Hours of Operation</h2>
                        <p>
                            By appointment only
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="bg-primary mb-0" id="services">
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4" style="margin-top:30px;">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Pain Management</h3>
                        <p class="card-text">
                            <ul>
                                <li>Neck, Shoulder, Back</li>
                                <li>Joints and lower limb pain</li>
                                <li>Whiplash</li>
                                <li>Sciatica</li>
                                <li>Sport injuries</li>
                                <li>Headaches</li>
                                <li>Migraines</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Pain_management" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4" style="margin-top:30px;">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Women's Health</h3>
                        <p class="card-text">
                            <ul>
                                <li>Menopause</li>
                                <li>Irregular</li>
                                <li>Periods</li>
                                <li>Dysmenorrhea</li>
                                <li>Infertility</li>
                                <li>PMS</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Women%27s_health" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4" style="margin-top:30px;">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Digestive Disorders</h3>
                        <p class="card-text">
                            <ul>
                                <li>Hearburn</li>
                                <li>IBS</li>
                                <li>Diarrhea</li>
                                <li>Nausea</li>
                                <li>Vomiting</li>
                                <li>Constipation</li>
                                <li>Bloating</li>
                            </ul>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Gastrointestinal_disease" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">General Problems</h3>
                        <p class="card-text">
                            <ul>
                                <li>Weight Management</li>
                                <li>Fibromyalgia</li>
                                <li>Chronic fatigue sydrome</li>
                                <li>Low energy</li>
                                <li>Addiction</li>
                                <li>Smoking cessation</li>
                                <li>High blood pressure</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Weight_management" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Skin Problems</h3>
                        <p class="card-text">
                            <ul>
                                <li>Psoriasis</li>
                                <li>Eczema / Acne</li>
                                <li>Urticaria</li>
                                <li>Skin allergy</li>
                                <li>Itching</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Skin_infection" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Respiratory Problems</h3>
                        <p class="card-text">
                            <ul>
                                <li>Sinusitis</li>
                                <li>Asthma</li>
                                <li>Bronchitis</li>
                                <li>Recurrent upper respiratory infections</li>
                                <li>Common cold</li>
                                <li>Sore throat</li>
                            </ul>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/Respiratory_disease" target="_blank" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
    </div>
</section>

<section id="about" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7" style="margin-top:30px;margin-bottom:30px">
                <div class="col-lg-8 mx-auto">
                    <h2>About KW Acupuncture</h2>
                    <p class="lead">Registered Acupuncturist and R. TCMP of College of Traditional Chinese Medicine practitioners and Acupuncture of Ontario (CTCMPAO)</p>
                    <p class="lead">RAc. Wang was trained in China and brings with her many years of experience She has her PHD in Acupuncture and Moxibustion from China To complement her caring attitude, she aims to provide a high standard care</p>
                    <ul>
                        <li>Masters Degree in China</li>
                        <li>PHD in Acupuncture and Moxibustion</li>
                        <li>Great communication with clients in English and Mandarin</li>
                        <li>Spends more time with her clients, therefore able to treat multiple problems at once, saving time and money</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/dr_wang_portrait.jpg" alt="Dr Wang">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="location" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_alc_yX3K4gRz-oGZVLbN6I&key=AIzaSyC6KJpl_rldEg8yLZU3zuusEqHW124X648"></iframe>
    <br />
    <small>
        <a href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_alc_yX3K4gRz-oGZVLbN6I&key=AIzaSyC6KJpl_rldEg8yLZU3zuusEqHW124X648"></a>
    </small>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contact</h2>
                <p>To schedule an appointment or ask any questions, please contact me below</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="contactForm" ng-submit="submit()" class="form-signin">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name*</label>
                                <input name="name" ng-model="user.name" type="text" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="font:bold;">Email address*</label>
                                <input name="email" ng-model="user.email" type="email" class="form-control" placeholder="Email address" required>
                                <p class="help-block" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Please enter proper email</p>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="session">Inquiry Type</label>
                                <select name="session" ng-model="user.session" required>
                                    <option value="Appointment" selected>Appointment</option>
                                    <option value="Question">Question</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleTextarea">Message*</label>
                                <textarea name="message" ng-model="user.message" type="text" class="form-control" placeholder="Inquiries or questions" required rows="4"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div class="lds-ripple" data-loading><div></div><div></div></div>
                            <div data-loading>Your request is being processed</div>
                            <div class="g-recaptcha" data-sitekey="{{key}}" data-callback="enableBtn"></div>
                            <div class="alert-{{alert.type}} animated main-alert" ng-class="{'flipInY':alert.show, 'alert-hidden':!alert.show}">
                                <strong>{{alert.title}}</strong>
                                {{alert.message}}
                            </div>
                            <button ng-disabled="!captchaSigned" class="btn btn-primary btn-xl text-uppercase" type="submit" style="margin-top:3rem;">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>